---
import Layout from "../layouts/BlogPost.astro"
---

<Layout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("October 29, 2023")}
  heroImage="/blog-placeholder-about.jpg"
>
  <p>
    Ansh, based in the serene town of Baddi, Himachal Pradesh, India, is
    currently a dedicated college student in his 3rd year. He's not just your
    average student; Ansh has a profound passion for the world of technology,
    particularly as a full stack developer specializing in backend development.
    His journey through college has been marked by his unwavering commitment to
    honing his programming skills and gaining a deep understanding of the
    backend architecture that powers the digital world.
  </p>

  <p>
    Coding is not just a part of Ansh's life; it's a core aspect of his
    identity. He spends his free time crafting digital solutions that address
    real-world problems, and the thrill of seeing his apps come to life is what
    keeps him motivated. It's not all about code for Ansh, though. He's equally
    at home discussing the intricate details of the latest tech trends as he is
    with dissecting the engineering of high-performance cars. With a keen
    interest in both technology and automobiles, Ansh is a versatile
    conversationalist who can dive deep into topics that range from backend
    frameworks to the latest advancements in automotive engineering.
  </p>

  <p>
    Looking to the future, Ansh aspires to establish himself as a full stack
    developer with a prominent presence in the tech industry. He's set his
    sights on a high-paying and respectable job, and his dedication, skill set,
    and passion make this goal well within reach. Ansh believes that the
    intersection of his coding expertise, penchant for app development, and love
    for technology discussions will play a pivotal role in shaping his career
    path. With unwavering determination, Ansh is committed to not just following
    the tech wave but being a key driver in the world of digital innovation. <br> <br> Learn more 
	<a href="https://anshkaushal.codes" target="_blank">here</a>
  </p>
</Layout>
